# Configuration suggested from
# http://yitang.uk/2025/01/26/setup-sshagent-systemd-service-for-emacs/
# This is to allow emacsclient to hook into ssh

[Unit]
Description=SSH key agent

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK

[Install]
WantedBy=default.target
